<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- 定义控制台输出 -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- 使用X或mdc模式匹配字符从ThreadContext中获取traceId -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%X{traceId}] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <!-- 定义日志记录器 -->
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
